<div class="sidebar border rounded-1 d-flex flex-column p-1">
    <a asp-controller="Backlog" asp-action="Index" asp-route-id="@ViewData["ProjectId"]"
       class="btn mb-2 text-start @(ViewContext.RouteData.Values["controller"]?.ToString() == "Backlog" ? "btn-primary" : "btn-light")">
        Backlog
    </a>

    <a asp-controller="Sprint" asp-action="Index" asp-route-id="@ViewData["ProjectId"]"
       class="btn mb-2 text-start @((ViewContext.RouteData.Values["controller"]?.ToString() == "SprintPlanning" 
        || ViewContext.RouteData.Values["controller"]?.ToString() == "ScrumBoard" 
        || ViewContext.RouteData.Values["controller"]?.ToString() == "SprintReview") ? "btn-primary" : "btn-light")">
        Scrum board
    </a>

    <a asp-controller="ProductIncrement" asp-action="Index" asp-route-id="@ViewData["ProjectId"]"
       class="btn mb-2 text-start @(ViewContext.RouteData.Values["controller"]?.ToString() == "ProductIncrement" ? "btn-primary" : "btn-light")">
        Product increment
    </a>
</div>
